{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block body %}
    {% include '_components/navbar.html.twig' %}

    <main class="container">
        <h1 id="content_title" class="text-center">{% block content_title %}{% endblock %}</h1>
        <section id="content_body">{% block content_body %}{% endblock %}</section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}
